<style>
  .custom-section-header .page-width {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
  }
  .custom-navigation-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  .custom-navigation-links a {
    color: #000000;
    text-decoration: none;
  }
  .custom-navigation-logo {
    text-align: center;
  }
  .custom-navigation-icons svg {
    width: 50px;
  }
  .custom-navigation-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }

  .mega-menu__content {
    width: 100vw;
    position: absolute;
    z-index: 1;
  }
</style>

<header class="custom-section-header">
  <div class="page-width">
    <nav>
      <ul class="custom-navigation-links">
        {% for link in section.settings.link_item.links %}
          <li>
            {%- if link.links != blank -%}
              <header-menu>
                <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                  <summary
                    id="HeaderMenu-{{ link.handle }}"
                    class="header__menu-item list-menu__item link focus-inset"
                  >
                    <span
                      {%- if link.child_active %}
                        class="header__active-menu-item"
                      {% endif %}
                    >
                      {{- link.title | escape -}}
                    </span>
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="MegaMenu-Content-{{ forloop.index }}"
                    class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                    tabindex="-1"
                  >
                    <ul
                      class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                      role="list"
                    >
                      {%- for childlink in link.links -%}
                        <li>
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                          {%- if childlink.links != blank -%}
                            <ul class="list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                    {% for block in section.blocks %}
                      {% if block.settings.mega_menu_title == link.title %}
                        {% render 'responsive-image', desktopImage: block.settings.image_desktop %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </details>
              </header-menu>
            {%- else -%}
              <a
                id="HeaderMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="header__menu-item list-menu__item link link--text focus-inset"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                <span
                  {%- if link.current %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </a>
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
    </nav>
    {% comment %} Logo {% endcomment %}
    <div class="custom-navigation-logo">
      {% if section.settings.image_desktop != blank %}
        {% render 'responsive-image', desktopImage: section.settings.image_desktop %}
      {% endif %}
    </div>
    {% comment %} Links {% endcomment %}
    <div class="custom-navigation-icons">
      {% render 'icon-account' -%}
      {%- render 'icon-cart' %}
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "custom-header",
  "settings": [
    {
      "type": "image_picker",
      "label": "Image Desktop",
      "id": "image_desktop"
    },
    {
      "type": "link_list",
      "label": "Link item",
      "id": "link_item"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "label": "Mega menu title",
          "id": "mega_menu_title",
          "info": "Mega menu will be applied to this link"
        },
        {
          "type": "image_picker",
          "label": "Image desktop",
          "id": "image_desktop"
        },
        {
          "type": "image_picker",
          "label": "Image mobile",
          "id": "image_mobile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "My New Section"
    }
  ]
}
{% endschema %}
