{{ "section-custom-product-list.css" | asset_url | stylesheet_tag }}


{% style %}
  .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{% endstyle %}

<div class="product-list padding-{{ section.id }}">
  <div class="page-width">
    <div class="product-list__section-heading-container color-{{ section.settings.color_scheme.text_color }}">
      {% if section.settings.section_heading != blank %}  
        <h2> {{ section.settings.section_heading }} </h2>
      {% endif %}  
      
      {% if section.settings.button_text != blank %}
        <div>
          <a class="custom-button-secondary" 
            {% if section.settings.button_text == blank %}
                role="link" aria-disabled="true"
            {% else %}
                href="{{ section.settings.button_link }}"
            {% endif %}>
            {{ section.settings.button_text }}
          </a>
        </div>
      {% endif %}
    </div>
    <div class="grid grid--2-col grid--4-col-desktop">
      {% for product in section.settings.product_list %}
        <div class="grid__item color-{{ section.settings.color_scheme }}">
          {% render "custom-product-card", product: product, section_id: section.id %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product list",
    "settings": [
      {
        "type": "product_list",
        "id": "product_list",
        "limit": 8,
        "label": "Products"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section heading",
        "default": "Featured Collection"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "checkbox",
        "id": "slider_enable",
        "label": "Enable slider",
        "default": false
      },
      {
        "type": "header",
        "content": "Featured product settings"
      },
      {
        "type": "image_picker",
        "id": "section_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "card_caption",
        "label": "Product card caption"
      },
      {
        "type": "text",
        "id": "card_heading",
        "label": "Card Heading"
      },
      {
        "type": "text",
        "id": "card_button_text",
        "label": "Card button text"
      },
      {
        "type": "url",
        "id": "card_button_link",
        "label": "Card button link"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "options": [
          {
            "value": "h3",
            "label": "Small"
          },
          {
            "value": "h2",
            "label": "Medium"
          },
          {
            "value": "h1",
            "label": "Large"
          }
        ],
        "default": "h2"
      },
      {
        "type" : "header",
        "content" : "Alignment Settings"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Featured card text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "product_text_alignment",
        "label": "Product text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
     {
        "type" : "select",
        "id" : "alignment_position",
        "label" : "Desktop content position",
        "options" : [
          {
            "value" : "align-start justify-start",
            "label" : "Top left"
          },
          {
            "value" : "align-start justify-center",
            "label" : "Top center"
          },
          {
            "value" : "align-start justify-end",
            "label" : "Top right"
          },
          {
            "value" : "align-center justify-start",
            "label" : "Middle left"
          },
          {
            "value" : "align-center justify-center",
            "label" : "Middle center"
          },
          {
            "value" : "align-center justify-end",
            "label" : "Middle right"
          },
          {
            "value" : "align-end justify-start",
            "label" : "Bottom left"
          },
          {
            "value" : "align-end justify-center",
            "label" : "Bottom center"
          },
          {
            "value" : "align-end justify-end",
            "label" : "Bottom end"
          }
        ],
        "default": "align-center justify-center"
      },

      {
        "type" : "header",
        "content" : "Section padding settings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Product list"
      }
    ]
  }
{% endschema %}