{{ 'section-timer.css' |  asset_url |  stylesheet_tag }} 
<script src="{{ "section-timer.js" | asset_url }}" defer></script>

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media only screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
   }
{% endstyle %}

<div class="custom-timer padding-{{ section.id }}">
    <div class="page-width">
        <div class="custom-timer__wrapper">
            <div class="custom-timer__text-wrapper {{ section.settings.text_alignment }}">
                {% if section.settings.heading  %}
                  <h2 class = "h1x">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.description  %}
                   <span class = "custom-timer__description">{{ section.settings.description }}</span>
                {% endif %}
                {% if section.settings.button_label  %}
                    <a
                        class="custom-button-secondary_color custom-timer__button"
                        href="{{section.settings.button_link }}"
                        >
                        {{ section.settings.button_label }}
                    </a>
                {% endif %}
            </div>   
            <div class="custom-timer__time-wrapper">
                <div class = "custom-timer__card custom-border-radius">
                    <span class = "h1 custom-timer__time" id="days" >00</span>
                    <span class = "h5 custom-timer__stamp">Days</span>
                </div>
                <span class = "h2 custom-timer__colon">:</span>
                <div class = "custom-timer__card custom-border-radius">
                    <h2 class = "h1 custom-timer__time" id="hours">00</h2>
                    <span class = "h5 custom-timer__stamp">Hours</span>
                </div>
                <span class = "h2 custom-timer__colon">:</span>
                <div class = "custom-timer__card custom-border-radius">
                    <span class = "h1 custom-timer__time" id="minutes">00</span>
                    <span class = "h5 custom-timer__stamp">Mins</span>
                </div>
                <span class = "h2 custom-timer__colon">:</span>
                <div class = "custom-timer__card custom-border-radius">
                    <span class = "h1 custom-timer__time" id="seconds">00</span>
                    <span class = "h5 custom-timer__stamp">Sec</span>
                </div>
            </div>     
             
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Custom Timer",
  "tag" : "section",
  "settings": [
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Heading",
        "default" : "Timer Heading"
      },
        {
          "type": "richtext",
          "id": "description",
          "label": "description",
          "default": "<p>Timer Description</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View All"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "Right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
    {
      "type": "header",
      "content": "Adjust Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom Timer"
    }
  ]
}
{% endschema %}