{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}

    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          

          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
          <div class="custom-grid-change-container">
            <button class="change-button" data-col-number="4">
              <svg width="36" height="18" viewBox="0 0 36 18" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.73966 1.62155C5.52662 1.59291 5.2296 1.59132 4.73298 1.59132H3.26703C2.77041 1.59132 2.4734 1.59291 2.26036 1.62155C2.16264 1.63469 2.11329 1.65021 2.09066 1.65953C2.08057 1.66368 2.07663 1.66626 2.07635 1.66645C2.07622 1.66653 2.07634 1.66646 2.07635 1.66645C2.07574 1.66706 2.07499 1.66782 2.07513 1.66765C2.07528 1.66747 2.0753 1.6674 2.07513 1.66765C2.075 1.66785 2.07242 1.67176 2.06822 1.68197C2.05891 1.7046 2.04338 1.75395 2.03024 1.85166C2.0016 2.06471 2.00001 2.36172 2.00001 2.85834L2.00001 15.2328C2.00001 15.7294 2.0016 16.0264 2.03024 16.2395C2.04338 16.3372 2.05891 16.3865 2.06822 16.4092C2.07237 16.4193 2.07495 16.4232 2.07514 16.4235C2.0753 16.4237 2.07528 16.4237 2.07514 16.4235C2.07499 16.4233 2.07453 16.4229 2.07514 16.4235C2.07575 16.4241 2.07651 16.4248 2.07634 16.4247C2.07616 16.4246 2.07609 16.4245 2.07634 16.4247C2.07662 16.4249 2.08057 16.4275 2.09066 16.4316C2.11329 16.4409 2.16264 16.4565 2.26036 16.4696C2.4734 16.4982 2.77041 16.4998 3.26703 16.4998H4.73298C5.2296 16.4998 5.52662 16.4982 5.73966 16.4696C5.83738 16.4565 5.88672 16.4409 5.90935 16.4316C5.91945 16.4275 5.92338 16.4249 5.92366 16.4247C5.92364 16.4247 5.92373 16.4246 5.92366 16.4247M5.93953 0.134927C6.29733 0.183031 6.67468 0.296102 6.98495 0.606372C7.29522 0.916642 7.40829 1.29399 7.45639 1.65179C7.50011 1.97692 7.50006 2.37674 7.50001 2.81348C7.50001 2.82839 7.50001 2.84335 7.50001 2.85834L7.50001 15.2777C7.50006 15.7144 7.50011 16.1142 7.4564 16.4394C7.40829 16.7971 7.29522 17.1745 6.98495 17.4848C6.67468 17.795 6.29733 17.9081 5.93953 17.9562C5.6144 17.9999 5.21458 17.9999 4.77783 17.9998H3.22218C2.78544 17.9999 2.38561 17.9999 2.06049 17.9562C1.70269 17.9081 1.32533 17.795 1.01506 17.4848C0.704794 17.1745 0.591724 16.7971 0.543619 16.4394C0.499907 16.1142 0.499953 15.7144 0.500004 15.2777L0.500007 2.85834C0.500007 2.84335 0.500005 2.8284 0.500003 2.81349C0.499953 2.37674 0.499906 1.97692 0.543618 1.65179C0.591723 1.29399 0.704793 0.916642 1.01506 0.606372C1.32533 0.296102 1.70269 0.183032 2.06048 0.134927C2.38561 0.091215 2.78543 0.0912614 3.22218 0.0913121C3.23709 0.0913138 3.25204 0.0913155 3.26703 0.0913155L4.73298 0.0913155C4.74797 0.0913155 4.76293 0.0913138 4.77783 0.091312C5.21458 0.0912613 5.6144 0.0912149 5.93953 0.134927Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2397 1.62155C15.0266 1.59291 14.7296 1.59132 14.233 1.59132H12.767C12.2704 1.59132 11.9734 1.59291 11.7604 1.62155C11.6626 1.63469 11.6133 1.65021 11.5907 1.65953C11.5806 1.66368 11.5766 1.66626 11.5764 1.66645C11.5762 1.66653 11.5763 1.66646 11.5764 1.66645C11.5757 1.66706 11.575 1.66782 11.5751 1.66765C11.5753 1.66747 11.5753 1.6674 11.5751 1.66765C11.575 1.66785 11.5724 1.67176 11.5682 1.68197C11.5589 1.7046 11.5434 1.75395 11.5302 1.85166C11.5016 2.06471 11.5 2.36172 11.5 2.85834L11.5 15.2328C11.5 15.7294 11.5016 16.0264 11.5302 16.2395C11.5434 16.3372 11.5589 16.3865 11.5682 16.4092C11.5724 16.4193 11.575 16.4232 11.5751 16.4235C11.5753 16.4237 11.5753 16.4237 11.5751 16.4235C11.575 16.4233 11.5745 16.4229 11.5751 16.4235C11.5758 16.4241 11.5765 16.4248 11.5763 16.4247C11.5762 16.4246 11.5761 16.4245 11.5763 16.4247C11.5766 16.4249 11.5806 16.4275 11.5907 16.4316C11.6133 16.4409 11.6626 16.4565 11.7604 16.4696C11.9734 16.4982 12.2704 16.4998 12.767 16.4998H14.233C14.7296 16.4998 15.0266 16.4982 15.2397 16.4696C15.3374 16.4565 15.3867 16.4409 15.4094 16.4316C15.4194 16.4275 15.4234 16.4249 15.4237 16.4247C15.4236 16.4247 15.4237 16.4246 15.4237 16.4247M15.4395 0.134927C15.7973 0.183031 16.1747 0.296102 16.4849 0.606372C16.7952 0.916642 16.9083 1.29399 16.9564 1.65179C17.0001 1.97692 17.0001 2.37674 17 2.81348C17 2.82839 17 2.84335 17 2.85834L17 15.2777C17.0001 15.7144 17.0001 16.1142 16.9564 16.4394C16.9083 16.7971 16.7952 17.1745 16.485 17.4848C16.1747 17.795 15.7973 17.9081 15.4395 17.9562C15.1144 17.9999 14.7146 17.9999 14.2778 17.9998H12.7222C12.2854 17.9999 11.8856 17.9999 11.5605 17.9562C11.2027 17.9081 10.8253 17.795 10.5151 17.4848C10.2048 17.1745 10.0917 16.7971 10.0436 16.4394C9.99991 16.1142 9.99995 15.7144 10 15.2777L10 2.85834C10 2.84335 10 2.8284 10 2.81349C9.99995 2.37674 9.99991 1.97692 10.0436 1.65179C10.0917 1.29399 10.2048 0.916642 10.5151 0.606372C10.8253 0.296102 11.2027 0.183032 11.5605 0.134927C11.8856 0.091215 12.2854 0.0912614 12.7222 0.0913121C12.7371 0.0913138 12.752 0.0913155 12.767 0.0913155L14.233 0.0913155C14.248 0.0913155 14.2629 0.0913138 14.2778 0.091312C14.7146 0.0912613 15.1144 0.0912149 15.4395 0.134927Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7397 1.62155C24.5266 1.59291 24.2296 1.59132 23.733 1.59132H22.267C21.7704 1.59132 21.4734 1.59291 21.2604 1.62155C21.1626 1.63469 21.1133 1.65021 21.0907 1.65953C21.0806 1.66368 21.0766 1.66626 21.0764 1.66645C21.0762 1.66653 21.0763 1.66646 21.0764 1.66645C21.0757 1.66706 21.075 1.66782 21.0751 1.66765C21.0753 1.66747 21.0753 1.6674 21.0751 1.66765C21.075 1.66785 21.0724 1.67176 21.0682 1.68197C21.0589 1.7046 21.0434 1.75395 21.0302 1.85166C21.0016 2.06471 21 2.36172 21 2.85834L21 15.2328C21 15.7294 21.0016 16.0264 21.0302 16.2395C21.0434 16.3372 21.0589 16.3865 21.0682 16.4092C21.0724 16.4193 21.075 16.4232 21.0751 16.4235C21.0753 16.4237 21.0753 16.4237 21.0751 16.4235C21.075 16.4233 21.0745 16.4229 21.0751 16.4235C21.0758 16.4241 21.0765 16.4248 21.0763 16.4247C21.0762 16.4246 21.0761 16.4245 21.0763 16.4247C21.0766 16.4249 21.0806 16.4275 21.0907 16.4316C21.1133 16.4409 21.1626 16.4565 21.2604 16.4696C21.4734 16.4982 21.7704 16.4998 22.267 16.4998H23.733C24.2296 16.4998 24.5266 16.4982 24.7397 16.4696C24.8374 16.4565 24.8867 16.4409 24.9094 16.4316C24.9194 16.4275 24.9234 16.4249 24.9237 16.4247C24.9236 16.4247 24.9237 16.4246 24.9237 16.4247M24.9395 0.134927C25.2973 0.183031 25.6747 0.296102 25.9849 0.606372C26.2952 0.916642 26.4083 1.29399 26.4564 1.65179C26.5001 1.97692 26.5001 2.37674 26.5 2.81348C26.5 2.82839 26.5 2.84335 26.5 2.85834L26.5 15.2777C26.5001 15.7144 26.5001 16.1142 26.4564 16.4394C26.4083 16.7971 26.2952 17.1745 25.985 17.4848C25.6747 17.795 25.2973 17.9081 24.9395 17.9562C24.6144 17.9999 24.2146 17.9999 23.7778 17.9998H22.2222C21.7854 17.9999 21.3856 17.9999 21.0605 17.9562C20.7027 17.9081 20.3253 17.795 20.0151 17.4848C19.7048 17.1745 19.5917 16.7971 19.5436 16.4394C19.4999 16.1142 19.5 15.7144 19.5 15.2777L19.5 2.85834C19.5 2.84335 19.5 2.8284 19.5 2.81349C19.5 2.37674 19.4999 1.97692 19.5436 1.65179C19.5917 1.29399 19.7048 0.916642 20.0151 0.606372C20.3253 0.296102 20.7027 0.183032 21.0605 0.134927C21.3856 0.091215 21.7854 0.0912614 22.2222 0.0913121C22.2371 0.0913138 22.252 0.0913155 22.267 0.0913155L23.733 0.0913155C23.748 0.0913155 23.7629 0.0913138 23.7778 0.091312C24.2146 0.0912613 24.6144 0.0912149 24.9395 0.134927Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M34.2397 1.62155C34.0266 1.59291 33.7296 1.59132 33.233 1.59132H31.767C31.2704 1.59132 30.9734 1.59291 30.7604 1.62155C30.6626 1.63469 30.6133 1.65021 30.5907 1.65953C30.5806 1.66368 30.5766 1.66626 30.5764 1.66645C30.5762 1.66653 30.5763 1.66646 30.5764 1.66645C30.5757 1.66706 30.575 1.66782 30.5751 1.66765C30.5753 1.66747 30.5753 1.6674 30.5751 1.66765C30.575 1.66785 30.5724 1.67176 30.5682 1.68197C30.5589 1.7046 30.5434 1.75395 30.5302 1.85166C30.5016 2.06471 30.5 2.36172 30.5 2.85834L30.5 15.2328C30.5 15.7294 30.5016 16.0264 30.5302 16.2395C30.5434 16.3372 30.5589 16.3865 30.5682 16.4092C30.5724 16.4193 30.575 16.4232 30.5751 16.4235C30.5753 16.4237 30.5753 16.4237 30.5751 16.4235C30.575 16.4233 30.5745 16.4229 30.5751 16.4235C30.5758 16.4241 30.5765 16.4248 30.5763 16.4247C30.5762 16.4246 30.5761 16.4245 30.5763 16.4247C30.5766 16.4249 30.5806 16.4275 30.5907 16.4316C30.6133 16.4409 30.6626 16.4565 30.7604 16.4696C30.9734 16.4982 31.2704 16.4998 31.767 16.4998H33.233C33.7296 16.4998 34.0266 16.4982 34.2397 16.4696C34.3374 16.4565 34.3867 16.4409 34.4094 16.4316C34.4194 16.4275 34.4234 16.4249 34.4237 16.4247C34.4236 16.4247 34.4237 16.4246 34.4237 16.4247M34.4395 0.134927C34.7973 0.183031 35.1747 0.296102 35.4849 0.606372C35.7952 0.916642 35.9083 1.29399 35.9564 1.65179C36.0001 1.97692 36.0001 2.37674 36 2.81348C36 2.82839 36 2.84335 36 2.85834L36 15.2777C36.0001 15.7144 36.0001 16.1142 35.9564 16.4394C35.9083 16.7971 35.7952 17.1745 35.485 17.4848C35.1747 17.795 34.7973 17.9081 34.4395 17.9562C34.1144 17.9999 33.7146 17.9999 33.2778 17.9998H31.7222C31.2854 17.9999 30.8856 17.9999 30.5605 17.9562C30.2027 17.9081 29.8253 17.795 29.5151 17.4848C29.2048 17.1745 29.0917 16.7971 29.0436 16.4394C28.9999 16.1142 29 15.7144 29 15.2777L29 2.85834C29 2.84335 29 2.8284 29 2.81349C29 2.37674 28.9999 1.97692 29.0436 1.65179C29.0917 1.29399 29.2048 0.916642 29.5151 0.606372C29.8253 0.296102 30.2027 0.183032 30.5605 0.134927C30.8856 0.091215 31.2854 0.0912614 31.7222 0.0913121C31.7371 0.0913138 31.752 0.0913155 31.767 0.0913155L33.233 0.0913155C33.248 0.0913155 33.2629 0.0913138 33.2778 0.091312C33.7146 0.0912613 34.1144 0.0912149 34.4395 0.134927Z"></path>
              </svg>
            </button>
            <button class="change-button" data-col-number="3">
              <svg width="27" height="19" viewBox="0 0 27 19" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.500003 15.7488C0.500005 15.734 0.500007 15.7191 0.500007 15.7041L0.500003 3.25083C0.499952 2.81802 0.499905 2.42119 0.543306 2.09838C0.591099 1.7429 0.703546 1.36717 1.01257 1.05815C1.32159 0.749121 1.69732 0.636675 2.0528 0.58888C2.37561 0.545481 2.77244 0.545526 3.20526 0.545578L4.79475 0.545578C5.22757 0.545526 5.6244 0.545481 5.94721 0.58888C6.30269 0.636675 6.67842 0.74912 6.98744 1.05815C7.29647 1.36717 7.40891 1.74289 7.45671 2.09838C7.50011 2.42119 7.50006 2.81802 7.50001 3.25084L7.50001 15.7041C7.50001 15.7191 7.50001 15.734 7.50001 15.7488C7.50006 16.1817 7.50011 16.5785 7.45671 16.9013C7.40891 17.2568 7.29647 17.6325 6.98744 17.9415C6.67842 18.2506 6.30269 18.363 5.94721 18.4108C5.6244 18.4542 5.22757 18.4541 4.79476 18.4541C4.77988 18.4541 4.76496 18.4541 4.75001 18.4541L3.25001 18.4541C3.23505 18.4541 3.22013 18.4541 3.20526 18.4541C2.77244 18.4541 2.37561 18.4542 2.0528 18.4108C1.69732 18.363 1.32159 18.2506 1.01257 17.9415C0.703547 17.6325 0.5911 17.2568 0.543306 16.9013C0.499906 16.5785 0.499952 16.1817 0.500003 15.7488ZM2.07324 16.8809L2.07187 16.8784C2.07086 16.8765 2.06924 16.8732 2.06717 16.8681C2.0582 16.8464 2.04291 16.798 2.02993 16.7014C2.0016 16.4907 2.00001 16.1967 2.00001 15.7041L2.00001 3.29558C2.00001 2.80298 2.0016 2.50897 2.02993 2.29825C2.04291 2.20169 2.0582 2.15333 2.06716 2.13155C2.06924 2.1265 2.07086 2.12319 2.07187 2.12125L2.07324 2.11882L2.07568 2.11744C2.07761 2.11643 2.08093 2.11482 2.08597 2.11274C2.10775 2.10378 2.15611 2.08849 2.25267 2.07551C2.46339 2.04718 2.7574 2.04558 3.25001 2.04558L4.75001 2.04558C5.24261 2.04558 5.53662 2.04718 5.74734 2.07551C5.8439 2.08849 5.89226 2.10378 5.91404 2.11274C5.91909 2.11482 5.9224 2.11643 5.92434 2.11744L5.92677 2.11882L5.92815 2.12125C5.92916 2.12319 5.93077 2.1265 5.93285 2.13155C5.94181 2.15333 5.9571 2.20169 5.97008 2.29825C5.99841 2.50897 6.00001 2.80298 6.00001 3.29558L6.00001 15.7041C6.00001 16.1967 5.99841 16.4907 5.97008 16.7014C5.9571 16.798 5.94181 16.8463 5.93285 16.8681C5.93077 16.8732 5.92916 16.8765 5.92815 16.8784L5.92677 16.8809L5.92434 16.8822C5.9224 16.8832 5.91909 16.8849 5.91404 16.8869C5.89226 16.8959 5.8439 16.9112 5.74734 16.9242C5.53662 16.9525 5.24261 16.9541 4.75001 16.9541L3.25001 16.9541C2.7574 16.9541 2.46339 16.9525 2.25267 16.9242C2.15611 16.9112 2.10775 16.8959 2.08597 16.8869C2.08093 16.8849 2.07761 16.8832 2.07568 16.8822L2.07324 16.8809ZM5.92677 16.8809C5.92644 16.8811 5.92636 16.8813 5.92677 16.8809C5.92723 16.8804 5.92705 16.8805 5.92677 16.8809ZM5.92677 2.11882C5.92679 2.11883 5.92679 2.11883 5.92677 2.11882Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 15.7488C10 15.734 10 15.7191 10 15.7041L10 3.25083C9.99995 2.81802 9.9999 2.42119 10.0433 2.09838C10.0911 1.7429 10.2035 1.36717 10.5126 1.05815C10.8216 0.749121 11.1973 0.636675 11.5528 0.58888C11.8756 0.545481 12.2724 0.545526 12.7053 0.545578L14.2948 0.545578C14.7276 0.545526 15.1244 0.545481 15.4472 0.58888C15.8027 0.636675 16.1784 0.74912 16.4874 1.05815C16.7965 1.36717 16.9089 1.74289 16.9567 2.09838C17.0001 2.42119 17.0001 2.81802 17 3.25084L17 15.7041C17 15.7191 17 15.734 17 15.7488C17.0001 16.1817 17.0001 16.5785 16.9567 16.9013C16.9089 17.2568 16.7965 17.6325 16.4874 17.9415C16.1784 18.2506 15.8027 18.363 15.4472 18.4108C15.1244 18.4542 14.7276 18.4541 14.2948 18.4541C14.2799 18.4541 14.265 18.4541 14.25 18.4541L12.75 18.4541C12.735 18.4541 12.7201 18.4541 12.7053 18.4541C12.2724 18.4541 11.8756 18.4542 11.5528 18.4108C11.1973 18.363 10.8216 18.2506 10.5126 17.9415C10.2035 17.6325 10.0911 17.2568 10.0433 16.9013C9.99991 16.5785 9.99995 16.1817 10 15.7488ZM11.5732 16.8809L11.5719 16.8784C11.5709 16.8765 11.5692 16.8732 11.5672 16.8681C11.5582 16.8464 11.5429 16.798 11.5299 16.7014C11.5016 16.4907 11.5 16.1967 11.5 15.7041L11.5 3.29558C11.5 2.80298 11.5016 2.50897 11.5299 2.29825C11.5429 2.20169 11.5582 2.15333 11.5672 2.13155C11.5692 2.1265 11.5709 2.12319 11.5719 2.12125L11.5732 2.11882L11.5757 2.11744C11.5776 2.11643 11.5809 2.11482 11.586 2.11274C11.6078 2.10378 11.6561 2.08849 11.7527 2.07551C11.9634 2.04718 12.2574 2.04558 12.75 2.04558L14.25 2.04558C14.7426 2.04558 15.0366 2.04718 15.2473 2.07551C15.3439 2.08849 15.3923 2.10378 15.414 2.11274C15.4191 2.11482 15.4224 2.11643 15.4243 2.11744L15.4268 2.11882L15.4281 2.12125C15.4292 2.12319 15.4308 2.1265 15.4328 2.13155C15.4418 2.15333 15.4571 2.20169 15.4701 2.29825C15.4984 2.50897 15.5 2.80298 15.5 3.29558L15.5 15.7041C15.5 16.1967 15.4984 16.4907 15.4701 16.7014C15.4571 16.798 15.4418 16.8463 15.4328 16.8681C15.4308 16.8732 15.4292 16.8765 15.4281 16.8784L15.4268 16.8809L15.4243 16.8822C15.4224 16.8832 15.4191 16.8849 15.414 16.8869C15.3923 16.8959 15.3439 16.9112 15.2473 16.9242C15.0366 16.9525 14.7426 16.9541 14.25 16.9541L12.75 16.9541C12.2574 16.9541 11.9634 16.9525 11.7527 16.9242C11.6561 16.9112 11.6078 16.8959 11.586 16.8869C11.5809 16.8849 11.5776 16.8832 11.5757 16.8822L11.5732 16.8809ZM15.4268 16.8809C15.4264 16.8811 15.4264 16.8813 15.4268 16.8809C15.4272 16.8804 15.4271 16.8805 15.4268 16.8809ZM15.4268 2.11882C15.4268 2.11883 15.4268 2.11883 15.4268 2.11882Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 15.7488C19.5 15.734 19.5 15.7191 19.5 15.7041L19.5 3.25083C19.5 2.81802 19.4999 2.42119 19.5433 2.09838C19.5911 1.7429 19.7035 1.36717 20.0126 1.05815C20.3216 0.749121 20.6973 0.636675 21.0528 0.58888C21.3756 0.545481 21.7724 0.545526 22.2053 0.545578L23.7948 0.545578C24.2276 0.545526 24.6244 0.545481 24.9472 0.58888C25.3027 0.636675 25.6784 0.74912 25.9874 1.05815C26.2965 1.36717 26.4089 1.74289 26.4567 2.09838C26.5001 2.42119 26.5001 2.81802 26.5 3.25084L26.5 15.7041C26.5 15.7191 26.5 15.734 26.5 15.7488C26.5001 16.1817 26.5001 16.5785 26.4567 16.9013C26.4089 17.2568 26.2965 17.6325 25.9874 17.9415C25.6784 18.2506 25.3027 18.363 24.9472 18.4108C24.6244 18.4542 24.2276 18.4541 23.7948 18.4541C23.7799 18.4541 23.765 18.4541 23.75 18.4541L22.25 18.4541C22.235 18.4541 22.2201 18.4541 22.2053 18.4541C21.7724 18.4541 21.3756 18.4542 21.0528 18.4108C20.6973 18.363 20.3216 18.2506 20.0126 17.9415C19.7035 17.6325 19.5911 17.2568 19.5433 16.9013C19.4999 16.5785 19.5 16.1817 19.5 15.7488ZM21.0732 16.8809L21.0719 16.8784C21.0709 16.8765 21.0692 16.8732 21.0672 16.8681C21.0582 16.8464 21.0429 16.798 21.0299 16.7014C21.0016 16.4907 21 16.1967 21 15.7041L21 3.29558C21 2.80298 21.0016 2.50897 21.0299 2.29825C21.0429 2.20169 21.0582 2.15333 21.0672 2.13155C21.0692 2.1265 21.0709 2.12319 21.0719 2.12125L21.0732 2.11882L21.0757 2.11744C21.0776 2.11643 21.0809 2.11482 21.086 2.11274C21.1078 2.10378 21.1561 2.08849 21.2527 2.07551C21.4634 2.04718 21.7574 2.04558 22.25 2.04558L23.75 2.04558C24.2426 2.04558 24.5366 2.04718 24.7473 2.07551C24.8439 2.08849 24.8923 2.10378 24.914 2.11274C24.9191 2.11482 24.9224 2.11643 24.9243 2.11744L24.9268 2.11882L24.9281 2.12125C24.9292 2.12319 24.9308 2.1265 24.9328 2.13155C24.9418 2.15333 24.9571 2.20169 24.9701 2.29825C24.9984 2.50897 25 2.80298 25 3.29558L25 15.7041C25 16.1967 24.9984 16.4907 24.9701 16.7014C24.9571 16.798 24.9418 16.8463 24.9328 16.8681C24.9308 16.8732 24.9292 16.8765 24.9281 16.8784L24.9268 16.8809L24.9243 16.8822C24.9224 16.8832 24.9191 16.8849 24.914 16.8869C24.8923 16.8959 24.8439 16.9112 24.7473 16.9242C24.5366 16.9525 24.2426 16.9541 23.75 16.9541L22.25 16.9541C21.7574 16.9541 21.4634 16.9525 21.2527 16.9242C21.1561 16.9112 21.1078 16.8959 21.086 16.8869C21.0809 16.8849 21.0776 16.8832 21.0757 16.8822L21.0732 16.8809ZM24.9268 16.8809C24.9264 16.8811 24.9264 16.8813 24.9268 16.8809C24.9272 16.8804 24.9271 16.8805 24.9268 16.8809ZM24.9268 2.11882C24.9268 2.11883 24.9268 2.11883 24.9268 2.11882Z"></path>
              </svg>
            </button>
            <button class="change-button" data-col-number="2">
              <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70526 0.250003C2.72013 0.250005 2.73505 0.250007 2.75001 0.250007L15.2033 0.250003C15.6361 0.249952 16.0329 0.249906 16.3557 0.293307C16.7112 0.3411 17.0869 0.453547 17.396 0.76257C17.705 1.07159 17.8174 1.44732 17.8652 1.8028C17.9086 2.12561 17.9086 2.52244 17.9085 2.95526V4.54475C17.9086 4.97757 17.9086 5.3744 17.8652 5.69721C17.8174 6.05269 17.705 6.42842 17.396 6.73744C17.0869 7.04647 16.7112 7.15891 16.3557 7.20671C16.0329 7.25011 15.6361 7.25006 15.2033 7.25001L2.75001 7.25001C2.73505 7.25001 2.72014 7.25001 2.70526 7.25001C2.27244 7.25006 1.87561 7.25011 1.5528 7.20671C1.19732 7.15891 0.821593 7.04647 0.51257 6.73744C0.203547 6.42842 0.0910996 6.05269 0.0433066 5.69721C-9.43281e-05 5.3744 -4.75394e-05 4.97757 3.48216e-06 4.54476C5.21069e-06 4.52988 6.99883e-06 4.51496 6.99883e-06 4.50001V3.00001C6.99883e-06 2.98505 5.21069e-06 2.97013 3.48216e-06 2.95526C-4.75394e-05 2.52244 -9.43281e-05 2.12561 0.0433066 1.8028C0.0910996 1.44732 0.203547 1.07159 0.51257 0.76257C0.821593 0.453547 1.19732 0.3411 1.5528 0.293307C1.87561 0.249906 2.27244 0.249952 2.70526 0.250003ZM1.57324 1.82324L1.57568 1.82187C1.57761 1.82086 1.58093 1.81924 1.58597 1.81717C1.60775 1.80821 1.65611 1.79291 1.75267 1.77993C1.96339 1.7516 2.2574 1.75001 2.75001 1.75001H15.1585C15.6511 1.75001 15.9451 1.7516 16.1559 1.77993C16.2524 1.79291 16.3008 1.80821 16.3226 1.81717C16.3276 1.81924 16.3309 1.82086 16.3328 1.82187L16.3353 1.82324L16.3367 1.82568C16.3377 1.82761 16.3393 1.83093 16.3414 1.83597C16.3503 1.85775 16.3656 1.90611 16.3786 2.00267C16.4069 2.21339 16.4085 2.5074 16.4085 3.00001V4.50001C16.4085 4.99261 16.4069 5.28662 16.3786 5.49734C16.3656 5.5939 16.3503 5.64226 16.3414 5.66404C16.3393 5.66909 16.3377 5.6724 16.3367 5.67434L16.3353 5.67677L16.3328 5.67815C16.3309 5.67916 16.3276 5.68077 16.3226 5.68285C16.3008 5.69181 16.2524 5.7071 16.1559 5.72008C15.9451 5.74841 15.6511 5.75001 15.1585 5.75001H2.75001C2.2574 5.75001 1.96339 5.74841 1.75267 5.72008C1.65611 5.7071 1.60775 5.69181 1.58597 5.68285C1.58093 5.68077 1.57761 5.67916 1.57568 5.67815L1.57324 5.67677L1.57187 5.67434C1.57086 5.6724 1.56924 5.66909 1.56717 5.66404C1.55821 5.64226 1.54291 5.5939 1.52993 5.49734C1.5016 5.28662 1.50001 4.99261 1.50001 4.50001V3.00001C1.50001 2.5074 1.5016 2.21339 1.52993 2.00267C1.54291 1.90611 1.55821 1.85775 1.56717 1.83597C1.56924 1.83093 1.57086 1.82761 1.57187 1.82568L1.57324 1.82324ZM1.57324 5.67677C1.57297 5.67644 1.57284 5.67636 1.57324 5.67677C1.5737 5.67723 1.57359 5.67705 1.57324 5.67677ZM16.3353 5.67677C16.3353 5.67679 16.3353 5.67679 16.3353 5.67677Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70526 9.75C2.72013 9.75001 2.73505 9.75001 2.75001 9.75001L15.2033 9.75C15.6361 9.74995 16.0329 9.74991 16.3557 9.79331C16.7112 9.8411 17.0869 9.95355 17.396 10.2626C17.705 10.5716 17.8174 10.9473 17.8652 11.3028C17.9086 11.6256 17.9086 12.0224 17.9085 12.4553V14.0448C17.9086 14.4776 17.9086 14.8744 17.8652 15.1972C17.8174 15.5527 17.705 15.9284 17.396 16.2374C17.0869 16.5465 16.7112 16.6589 16.3557 16.7067C16.0329 16.7501 15.6361 16.7501 15.2033 16.75L2.75001 16.75C2.73505 16.75 2.72014 16.75 2.70526 16.75C2.27244 16.7501 1.87561 16.7501 1.5528 16.7067C1.19732 16.6589 0.821593 16.5465 0.51257 16.2374C0.203547 15.9284 0.0910996 15.5527 0.0433066 15.1972C-9.43281e-05 14.8744 -4.75394e-05 14.4776 3.48216e-06 14.0448C5.21069e-06 14.0299 6.99883e-06 14.015 6.99883e-06 14V12.5C6.99883e-06 12.485 5.21069e-06 12.4701 3.48216e-06 12.4553C-4.75394e-05 12.0224 -9.43281e-05 11.6256 0.0433066 11.3028C0.0910996 10.9473 0.203547 10.5716 0.51257 10.2626C0.821593 9.95355 1.19732 9.8411 1.5528 9.79331C1.87561 9.74991 2.27244 9.74995 2.70526 9.75ZM1.57324 11.3232L1.57568 11.3219C1.57761 11.3209 1.58093 11.3192 1.58597 11.3172C1.60775 11.3082 1.65611 11.2929 1.75267 11.2799C1.96339 11.2516 2.2574 11.25 2.75001 11.25H15.1585C15.6511 11.25 15.9451 11.2516 16.1559 11.2799C16.2524 11.2929 16.3008 11.3082 16.3226 11.3172C16.3276 11.3192 16.3309 11.3209 16.3328 11.3219L16.3353 11.3232L16.3367 11.3257C16.3377 11.3276 16.3393 11.3309 16.3414 11.336C16.3503 11.3578 16.3656 11.4061 16.3786 11.5027C16.4069 11.7134 16.4085 12.0074 16.4085 12.5V14C16.4085 14.4926 16.4069 14.7866 16.3786 14.9973C16.3656 15.0939 16.3503 15.1423 16.3414 15.164C16.3393 15.1691 16.3377 15.1724 16.3367 15.1743L16.3353 15.1768L16.3328 15.1781C16.3309 15.1792 16.3276 15.1808 16.3226 15.1828C16.3008 15.1918 16.2524 15.2071 16.1559 15.2201C15.9451 15.2484 15.6511 15.25 15.1585 15.25H2.75001C2.2574 15.25 1.96339 15.2484 1.75267 15.2201C1.65611 15.2071 1.60775 15.1918 1.58597 15.1828C1.58093 15.1808 1.57761 15.1792 1.57568 15.1781L1.57324 15.1768L1.57187 15.1743C1.57086 15.1724 1.56924 15.1691 1.56717 15.164C1.55821 15.1423 1.54291 15.0939 1.52993 14.9973C1.5016 14.7866 1.50001 14.4926 1.50001 14V12.5C1.50001 12.0074 1.5016 11.7134 1.52993 11.5027C1.54291 11.4061 1.55821 11.3578 1.56717 11.336C1.56924 11.3309 1.57086 11.3276 1.57187 11.3257L1.57324 11.3232ZM1.57324 15.1768C1.57297 15.1764 1.57284 15.1764 1.57324 15.1768C1.5737 15.1772 1.57359 15.1771 1.57324 15.1768ZM16.3353 15.1768C16.3353 15.1768 16.3353 15.1768 16.3353 15.1768Z"></path>
              </svg>
            </button>
          </div>

          <form class="facets-vertical-form" id="FacetSortForm">
            <div class="facet-filters sorting caption">
              <div class="facet-filters__field">
                <h2 class="facet-filters__label caption-large text-body">
                  <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                </h2>

                <div class="select">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <select
                    name="sort_by"
                    class="facet-filters__sort select__select caption-large"
                    id="SortBy"
                    aria-describedby="a11y-refresh-page-message"
                  >
                    {%- for option in collection.sort_options -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
              <noscript>
                <button type="submit" class="facets__button-no-js button button--secondary">
                  {{ 'products.facets.sort_button' | t }}
                </button>
              </noscript>
            </div>

            <div class="product-count-vertical light" role="status">
              <h2 class="product-count__text text-body">
                <span id="ProductCountDesktop">
                  {%- if collection.results_count -%}
                    {{
                      'templates.search.results_with_count'
                      | t: terms: collection.terms, count: collection.results_count
                    }}
                  {%- elsif collection.products_count == collection.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                  {%- else -%}
                    {{
                      'products.facets.product_count'
                      | t: product_count: collection.products_count, count: collection.all_products_count
                    }}
                  {%- endif -%}
                </span>
              </h2>
              {%- render 'loading-spinner' -%}
            </div>
          </form>
        </facet-filters-form>
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
              "
            >
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'custom-product-card', product: product, section_id: section.id %}
                </li>
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

<script>
  var productGrid = document.querySelector('#product-grid');
  var productBt = document.querySelectorAll('.change-button');

  productBt.forEach(each=>{
    each.addEventListener("click", (e)=>{
      e.preventDefault()
       productGrid.classList.forEach(function(className) {
    if (className.endsWith('desktop')) {
      // Replace the class name
      productGrid.classList.replace(className, `grid--${each.dataset.colNumber}-col-desktop`);
    }
  });
    })
  })
</script>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
