{{ 'custom-main-orders-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer-orders section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="customer_tabs-and-orders-page">
      {% render 'custom-customer-pages' %}
      <div class="customer-orders__page">
        <h2 class="customer-orders__name">Hi, {{ customer.name }}</h2>
        <div class="customer-orders__mail">
          <a href="mailto: {{ customer.email }}">{{ customer.email }}</a>
        </div>
        <ul class="customer-orders__orders">
          <h2 class="customer-orders__title">Orders</h2>
          <div>
            {% paginate customer.orders by 20 %}
              {%- if customer.orders.size > 0 -%}
                <table role="table" class="order-history customer-orders-data">
                  <caption class="visually-hidden">
                    {{ 'customer.orders.title' | t }}
                  </caption>
                  <thead role="rowgroup">
                    <tr role="row" class="main-orders-table-header">
                      <th id="ColumnOrder" scope="col" role="columnheader">
                        {{ 'customer.orders.order_number' | t }} Number
                      </th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">status</th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">Action</th>
                    </tr>
                  </thead>
                  <tbody role="rowgroup">
                    {%- for order in customer.orders -%}
                      <tr role="row">
                        <td
                          id="RowOrder"
                          role="cell"
                          headers="ColumnOrder"
                          data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          <a
                            href="{{ order.customer_url }}"
                            aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                          >
                            {{ order.name }}
                          </a>
                        </td>
                        <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </td>
                        <td
                          headers="RowOrder ColumnPayment"
                          role="cell"
                          data-label="{{ 'customer.orders.payment_status' | t }}"
                        >
                          {{ order.financial_status_label }}
                        </td>

                        <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          {{ order.total_net_amount | money_with_currency }}
                        </td>

                        <td
                          headers="RowOrder ColumnFulfillment"
                          role="cell"
                          data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                        >
                          {{ order.fulfillment_status_label }}
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- else -%}
                <p>{{ 'customer.orders.none' | t }}</p>
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
                {%- if paginate.parts.size > 0 -%}
                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul role="list">
                      {%- if paginate.previous -%}
                        <li>
                          <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                            </svg>
                          </a>
                        </li>
                      {%- endif -%}

                      {%- for part in paginate.parts -%}
                        <li>
                          {%- if part.is_link -%}
                            <a
                              href="{{ part.url }}"
                              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                            >
                              {{- part.title -}}
                            </a>
                          {%- else -%}
                            {%- if part.title == paginate.current_page -%}
                              <span
                                aria-current="page"
                                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                              >
                                {{- part.title -}}
                              </span>
                            {%- else -%}
                              <span>{{ part.title }}</span>
                            {%- endif -%}
                          {%- endif -%}
                        </li>
                      {%- endfor -%}

                      {%- if paginate.next -%}
                        <li>
                          <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                            </svg>
                          </a>
                        </li>
                      {%- endif -%}
                    </ul>
                  </nav>
                {%- endif -%}
              {%- endif -%}
            {% endpaginate %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main orders page",
  "settings": [
    {
      "type": "header",
      "content": "Section padding settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ]
}
{% endschema %}
